@use "elements/header.scss"; 

body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #070712;
    color: #D9D9D9;
    font-family: 'Kanit', sans-serif;

};

/*SCROLL BAR*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 99px;
}
::-webkit-scrollbar-track {
    background: rgba(255, 232, 201, 0)
}


