header {
  position: fixed;
  display: flex;
  top: 0%;
  z-index: 10;
  width: 100%;
}
header .logo {
  position: relative;
  display: block;
  width: fit-content;
  margin: 3rem 2rem;
}
header .logo svg {
  width: max-content;
  height: 2.5rem;
  margin: auto;
}
header .logo svg .cls-1 {
  fill: #D9D9D9;
  transition: fill 0.5s ease-in-out;
}
header input {
  position: absolute;
  justify-content: flex-end;
  top: 0;
  right: 0;
  display: block;
  margin: 3rem 2rem;
  height: 2.5rem;
  width: 2.5rem;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
header input:checked ~ nav {
  background: #D9D9D9;
}
header input:checked ~ nav #menu {
  display: block;
  transition: display 0.5s ease-in-out;
}
header input:checked ~ nav .burger span {
  opacity: 1;
  transform: rotate(-45deg);
  background: #070712;
  left: 0.25rem;
}
header input:checked ~ nav .burger span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
header input:checked ~ nav .burger span:nth-last-child(3) {
  transform: rotate(45deg);
}
header nav {
  position: absolute;
  margin: 2rem 1rem;
  border-radius: 1rem;
  width: max-content;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease-in-out;
  top: 0;
  right: 0;
}
header nav #menu {
  display: none;
  padding: 3rem 2rem 0rem 2rem;
  text-align: right;
  margin: 0;
  transition: display 0.5s ease-in-out;
}
header nav #menu a {
  margin: 0.5rem 0;
  padding: 0.5rem;
  text-decoration: none;
}
header nav #menu a li {
  list-style: none;
  color: #070712;
  font-weight: 700;
  font-size: 1.5rem;
}
header nav #menu a:hover li {
  color: rgb(37, 37, 225);
  transition: color 0.5s ease-in-out;
}
header nav .burger {
  margin: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}
header nav .burger span {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin: 7px 0px;
  position: relative;
  background: #D9D9D9;
  border-radius: 5px;
  z-index: 1;
  transform-origin: 10% 50%;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s ease, left 0.5s ease-in-out;
}

#home {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: 5%;
  height: 100vh;
}
#home svg {
  width: max-content;
  height: 12rem;
  margin: auto;
}
#home svg .cls-1 {
  fill: #D9D9D9;
  transition: fill 0.5s ease-in-out;
}
#home #welcome {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #welcome p {
  color: #A0A0A0;
  font-family: Kanit;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
#home #welcome h1 {
  font-family: Kanit;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin: 1rem;
  background: linear-gradient(135deg, #ACFAFF -0.31%, #FD98FF 107.28%, #F300F8 107.29%);
  background-clip: text;
  white-space: nowrap;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#home #welcome #jobs {
  width: 30rem;
  height: 4.5rem;
  border-radius: 3rem;
  background: #3B3B3B;
}
#home #welcome #jobs p {
  text-align: center;
  margin: 0;
  height: 100%;
  line-height: 4.5rem;
}
#home #welcome #alias {
  margin-top: 3vh;
}
#home #welcome #alias p {
  color: #A0A0A0;
  font-family: Kanit;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
}
#home #scroll-down {
  position: absolute;
  bottom: 5%;
  margin: auto;
  left: calc(50% - 2.5rem);
  z-index: 10;
}
#home #scroll-down svg {
  width: 5rem;
  height: 5rem;
  margin: auto;
}

#about {
  position: relative;
  margin-inline: 5%;
  height: 100vh;
}
#about h2 {
  position: relative;
  margin: 0;
  padding-top: 15vh;
  height: 5vh;
  text-align: center;
  color: #D9D9D9;
  font-family: Kanit;
  font-size: 4rem;
}
#about #container {
  margin-top: 10vh;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#about #container #desc {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 90%;
  margin: auto;
}
#about #container #desc p {
  color: #D9D9D9;
  font-family: Kanit;
  font-size: 1.5rem;
}
#about #container #desc #buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}
#about #container #desc #buttons a svg {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  fill: #D9D9D9;
  transition: fill 0.5s ease-in-out;
}
#about #container #photo {
  margin: auto;
}

#projects {
  position: relative;
  display: flex;
  margin-inline: 5%;
  height: 100vh;
}
#projects #container {
  margin: auto;
  background: rgba(94, 69, 192, 0.23);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 1rem solid rgba(94, 69, 192, 0.23);
  border-radius: 3.125rem;
  width: 100%;
  height: 90%;
}
#projects #container h2 {
  color: #D9D9D9;
  font-family: Kanit;
  font-size: 4rem;
  text-align: center;
}
#projects #container #list {
  height: 70%;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
#projects #container #list .project {
  margin: auto;
  grid-column: span 2;
  aspect-ratio: 16/9;
  border-radius: 1.875rem;
  width: 300px;
  position: relative;
}
#projects #container #list .project a {
  position: relative;
  display: block;
  height: 100%;
}
#projects #container #list .project a #project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 10px solid rgba(0, 0, 0, 0.66);
  border-radius: 1.875rem;
}
#projects #container #list .project a #hover {
  display: none;
}
#projects #container #list .project a:hover #hover {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.875rem;
  background: rgba(0, 0, 0, 0.66);
}
#projects #container #list .project a:hover #hover #infos {
  margin: 1rem 1rem 0 1rem;
  display: flex;
}
#projects #container #list .project a:hover #hover #infos #icons {
  display: flex;
  height: 2rem;
}
#projects #container #list .project a:hover #hover #infos #icons img {
  height: 1.5rem;
  padding: 0 0.25rem;
}
#projects #container #list .project a:hover #hover #infos #date {
  margin: auto 0 auto auto;
  color: #D9D9D9;
  padding: 0.25rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.66);
  border-radius: 1rem;
}
#projects #container #list .project a:hover #hover #desc {
  padding: 0 2rem;
  color: #D9D9D9;
}
#projects #container #list .project p {
  text-align: center;
}
#projects #container #list .project:nth-child(2) {
  margin-bottom: 0%;
}
#projects #container #list .project:nth-child(n+4) {
  grid-column: span 3;
}

#skills {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-inline: 5%;
  height: max-content;
}
#skills h2 {
  color: #D9D9D9;
  font-family: Kanit;
  font-size: 4rem;
  text-align: center;
  margin: 10vh auto;
}
#skills #grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#skills #grid-container section {
  margin: 3rem;
}
#skills #grid-container section h3 {
  font-size: 2rem;
  margin-left: 2rem;
}
#skills #grid-container #graph-tech {
  display: flex;
  justify-content: center;
  align-items: center;
}
#skills #grid-container #graph-tech #stack {
  position: absolute;
  background-color: rgba(58, 58, 58, 0.8);
  padding: 2rem;
  width: max-content;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
#skills #grid-container #graph-tech #stack div {
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
#skills #grid-container #graph-tech #stack div img {
  width: 3rem;
}
#skills #grid-container #graph-tech #stack #un {
  background: linear-gradient(223deg, rgba(255, 66, 179, 0.5) 6.71%, rgba(255, 99, 99, 0.5) 93.29%);
}
#skills #grid-container #graph-tech #stack #deux {
  background: linear-gradient(225deg, rgba(255, 222, 51, 0.5) 6.79%, rgba(255, 247, 171, 0.5) 93.21%);
}
#skills #grid-container #graph-tech #stack #trois {
  background: linear-gradient(220deg, #4FD -11.75%, #0267FF 99.87%);
}
#skills #grid-container #graph-tech #stack #quatre {
  background: linear-gradient(225deg, rgba(183, 91, 255, 0.5) 7.85%, rgba(61, 138, 255, 0.5) 92.5%);
}
#skills #grid-container #graph-tech #stack #cinq {
  background: linear-gradient(134deg, rgba(255, 99, 221, 0.5) 2.17%, rgba(255, 171, 144, 0.5) 99.34%);
}
#skills #grid-container #graph-tech #stack #six {
  background: linear-gradient(225deg, rgba(252, 82, 255, 0.5) 0%, rgba(77, 255, 223, 0.5) 100%);
}
#skills #grid-container #graph-tech #stack #sept {
  background: linear-gradient(135deg, rgba(162, 69, 255, 0.5) 6.06%, rgba(255, 75, 205, 0.5) 95.35%);
}
#skills #grid-container #graph-tech #stack #huit {
  background: linear-gradient(223deg, rgba(255, 154, 132, 0.5) 7.94%, rgba(255, 77, 66, 0.5) 94.84%);
}
#skills #grid-container #graph-tech #stack #neuf {
  background: linear-gradient(220deg, #4FD -11.75%, #0267FF 99.87%);
}
#skills #grid-container #graph-tech #stack #background-codes {
  margin: auto;
  width: 100%;
}

#contact {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-inline: 5%;
  height: 100vh;
}
#contact h2 {
  color: #D9D9D9;
  font-family: Kanit;
  font-size: 4rem;
  text-align: center;
  margin: 10vh auto 0 auto;
}
#contact div {
  margin: auto;
  position: relative;
  font-weight: 700;
  font-size: 4rem;
  width: 500px;
}
#contact div p {
  margin: 0 auto;
}
#contact div strong {
  background: linear-gradient(90deg, #ACFAFF -2.38%, #F300F8 98.6%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#contact div #logo {
  position: absolute;
  top: 40px;
  transform: rotate(20deg);
  right: 40px;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(3px);
  background-color: rgba(96, 96, 96, 0.5);
}
#contact div #logo img {
  padding: 1.5rem;
  object-fit: contain;
  max-width: 100%;
}
#contact div #links {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
#contact div #links a {
  height: 100px;
  transition: transform 0.25s ease-in-out;
}
#contact div #links a img {
  height: 100%;
}
#contact div #links a:hover {
  transform: scale(1.2);
}

* {
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

/*SCROLL BAR*/
::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("../media/background/grainy-background.svg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #D9D9D9;
  font-family: "Kanit", sans-serif;
}
body footer {
  position: fixed;
  bottom: 0;
}
body footer p {
  margin: 1rem;
  color: #A0A0A0;
  font-family: Kanit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*# sourceMappingURL=style.css.map */
