.about {
  position: relative;
  margin-inline: 5%;
  height: 100vh;

  h2 {
    position: relative;
    margin: 0;
    padding-top: 15vh;
    height: 5vh;
    text-align: center;
    color: #d9d9d9;
    font-family: Kanit;
    font-size: 4rem;
  }

  .container {
    margin-top: 10vh;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .desc {
      display: flex;
      flex-direction: column;
      place-items: center;
      width: 90%;
      margin: auto;

      p {
        color: #d9d9d9;
        font-family: Kanit;
        font-size: 1.5rem;
      }
    }

    img {
      margin: auto;
      width: 50%;
      object-fit: cover;
      animation: borderRadius 2s ease-in-out infinite alternate;

      @keyframes borderRadius {
        0% {
          border-radius: 70% 30% 25% 75% / 55% 40% 60% 45%;
        }
        100% {
          border-radius: 30% 70% 70% 30% / 60% 45% 55% 40%;
        }
      }
    }
  }
}
