.home {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: 5%;
  height: 100vh;

  .moving-logo {
    position: relative;
    margin-left: 5rem;
    svg {
      position: absolute;
      width: max-content;
      transition: all 0.2s ease-in-out;

      .cls-1 {
        stroke-width: 1.5px;
      }
    }

    .un {
      height: 12rem;
      top: calc(50% - 6rem);
      left: 6rem;

      .cls-1 {
        fill: #d9d9d9;
      }
    }

    .deux {
      height: 14rem;
      top: calc(50% - 7rem);
      left: 4.5rem;
      opacity: 0.25;
      filter: blur(2px);

      .cls-1 {
        fill: #d9d9d900;
        stroke: #d9d9d9;
      }
    }

    .trois {
      height: 16rem;
      top: calc(50% - 8rem);
      left: 3rem;
      opacity: 0.2;
      filter: blur(4px);

      .cls-1 {
        fill: #d9d9d900;
        stroke: #d9d9d9;
      }
    }
  }

  .welcome {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: scroll 5s ease-in-out infinite;

    p {
      color: #a0a0a0;
      font-family: Kanit;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }

    h1 {
      font-family: Kanit;
      font-size: 4rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.1rem;
      margin: 1rem;

      background: linear-gradient(
        135deg,
        #acfaff -0.31%,
        #fd98ff 107.28%,
        #f300f8 107.29%
      );
      background-clip: text;
      white-space: nowrap;

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .jobs {
      width: 30rem;
      height: 4.5rem;
      border-radius: 3rem;
      background: #3b3b3b;
      p {
        text-align: center;
        margin: 0;
        height: 100%;
        line-height: 4.5rem;
      }
    }

    .alias {
      margin-top: 3vh;
      p {
        color: #a0a0a0;
        font-family: Kanit;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: auto;
      }
    }
  }

  .scroll-down {
    position: absolute;
    bottom: 5%;
    margin: auto;
    left: calc(50% - 2.5rem);
    z-index: 10;
    animation: scroll 3s ease-in-out infinite;

    svg {
      width: 5rem;
      height: 5rem;
      margin: auto;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0);
  }
}
